html {
    background-color: lightgray;
}


#title {
    text-align: center;
}

#game_board {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;

}

#start_button_div {
    text-align: center;
}

.play_button {
    width: 150px;
    height: 150px;
    margin: 5px;

}

#square1 {
    background-color: red;

}


#square2 {

    background-color: yellow;

}


#square3 {
    background-color: green;
}

#square4 {

    background-color: blue;

}

#square5 {
    background-color: orange;

}

#start_game_button {
    background-color: black;
    color: white;
}


#square6 {
    background-color: purple;
}